.modal-overlay {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff; /* White background */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slight box-shadow for depth */
    max-width: 300px; /* Restrict width of the modal to not cover the whole screen */
}

#nameInputForm input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding doesn't increase the width */
}

#nameInputForm button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#nameInputForm button[type="submit"]:hover {
    background-color: #0056b3;
}

#nameInputForm button[type="submit"]:focus {
    outline: none; /* Removes the default focus outline */
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

/* Smooth appearance changes for the modal */
.modal-overlay {
    transition: opacity 0.3s ease-in-out;
}

.modal-content {
    transition: transform 0.3s ease-in-out;
}